body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	max-width:1200px;
	font-size:1em;
	display:flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90% ;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow:row wrap;

}
html{
	font-size: 16px;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;

	
}
/*Desktop queries here*/
/*The widths are in a percentage!*/
header {
	width:40%;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	
}

header h1 {
	display:flex;
	justify-content:space-around;
	align-self:center;
	align-content:center;
	

	

}

hr{
 border: 1px solid green;
}
	
header h1 span {
	padding-left:19px ;
	color: #77a466;

}

header nav {
	width:40%;
	text-align:30%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	

}

header nav ul {
	text-align: center;
	padding:0;

}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	margin:0;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	padding:0;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	
	
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	display: block;
    list-style-type:none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
@media (max-width:728px){
	/*not sure what to put inside these brackets*/
	}
@media (min-width:1200px){
/*not sure what to put inside these brackets*/
}

	


/*Tablet queries here*/	
/*The widths are in a percentage!*/


.top-section,	
.bottom-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	flex-flow: row-wrap;
	border-top:1px solid #eee;

}

.main-image {
	width:100%

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	text-align: center;
	
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	
}
.main-title p {
	padding: 0;
	font-size: 1em;
	
}

.section-one,
.section-two,
.section-three {
	width: 90%;
	border-top: none;


}

.section-one h3 {
	border-top: none;

}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	
	
}

.section-two h3,
.section-three h3 {
	border-top: none;
	
	
	
}

.menu {
	list-style: none;
	padding: 0;
	
}
.menu li {
	padding: 10px 0;
	color:#77a466;
	

}

.reviews {
	color: #333;
	font-size: 1em;

	
}

.address {
	font-size: 1em;
	

}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	text-align: center;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-flow:row-wrap;

}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
