body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display:flex;
	max-width:1200px;
	width: 90%;
	justify-content: center;
	align-items: center;
	font-size:1em;
}

.container{
	max-width: 1200px;
	width: 90% ;
	display:flex;
	justify-content: center;
	align-items: center;	
}
html{
	font-size: 16px;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	
}
/*Desktop queries here*/
/*The widths are in a percentage!*/
header {
	display:flex;
	justify-content: space-around;
	align-items: flex-start;
	align-items:center;
	flex-wrap: nowrap;
}

header h1 {
	width:30%


}

header h1 span {
	color: #77a466;
}

header nav {
	width:40%;
	text-align:30%;

}

header nav ul {
	text-align: center;
	
		
	

}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	display:flex; 
	justify-content:center;
	align-items: center;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

@media (min-width:1200px){
/*not sure what to put inside these brackets*/
}

	


/*Tablet queries here*/	
/*The widths are in a percentage!*/


.top-section,	
.bottom-section {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
	border-top: 1px solid #eee;

}

.main-image {
	width:100%

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	text-align: center;
	display:flex;
	justify-content:flex-start;
	flex-wrap: nowrap;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	display:flex;
	justify-content:flex-start;
	flex-wrap: wrap;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	display:flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	
}

.section-one,
.section-two,
.section-three {
	border-top: none;
	display: flex;
	flex-basis:30%;
	align-items: flex-start;
}

.section-one h3 {
	border-top: none;
	display:flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	display: flex;
	
}

.section-two h3,
.section-three h3 {
	border-top: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	
	
}

.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
	display: flex;
	justify-content:center;
	align-items: flex-end;
	flex-wrap: wrap;

}

.reviews {
	color: #333;
	font-size: 1em;
	display: flex;
	justify-content:center;
	align-items: flex-end;
	flex-wrap: wrap;

	
}

.address {
	font-size: 1em;
	display: flex;
	justify-content:center;
	align-items: flex-end;
	flex-wrap: wrap;

}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content:space-around;
	flex-flow:row-wrap;

}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
@media (max-width:728px){
/*not sure what to put inside these brackets*/
}